body{
	background:#f1f1f1;
}
.right{
	position:relative;
	top:-50px;
	width:30%;
	padding:100px 100px;
	float:left;
}
.left{
	position:relative;
	top:150px;
	left:100px;
	float:left;
	width:30%;

}
.facebook{
	font-size:40px;
	font-weight:bold;
	color:rgb(103, 161, 216);
	font-style:verdana;
	margin:20px;
}
p{color:grey;margin:10px;}
h1{margin:10px;}
.box1{
	width:150px;
	height:200px;
	background:white;
	border:1px solid lightgrey;
	border-radius:0px 0px 10px 10px;
	float:left;
}
.desc{text-align:center;background:white;}
.box2{
	width:150px;
	height:200px;
	border:1px solid lightgrey;
	border-radius:0px 0px 10px 10px;
	float:left;
	margin:0px 30px;
}
.box21{
	padding:10px 10px;
	background:lightblue;
	text-align:center;
	border-radius:40px;
	width:20px;
	height:30px;
	margin:auto;
	position:relative;
	top:70px;
	color:white;
	font-size:25px;
	font-weight:bold;
}
.box2 .desc{
	position:relative;
	top:100px;
	padding:16px;
	border-radius:0px 0px 10px 10px ;
}
.left{
width:30%;
	float:left;
}
.card{
	background:white;
	border-radius:8px;
	padding:30px;
	width:300px;
	height:300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}
form{margin:5px -26px;display:block;}
input{
	width:340px;
	height:40px;
	border-radius:5px;
	border:1px solid lightgrey;
	margin:5px 5px;
}
input[type=submit]{
	background:rgb(103, 161, 216);
	color:white;
	font-size:20px;
	font-weight:bold;
}
input:focus{background:lightblue;
border-radius:8px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border:1px solid lightgrey;
}
input[type=submit]:focus{background:rgb(103, 161, 216)}
.forget a{
	color:rgb(103, 161, 216);
	text-decoration:none;
}
.forget a:hover{text-decoration:underline;}
.forget{padding:20px;margin:15px;text-align:center;font-size:18px;border-bottom:1px solid lightgrey}
.card button{
	width:200px;
	padding:13px;
	margin:5px 37px;
	border:0px ;
	color:white;
	background:green;
	font-size:15px;
	font-weight:bold;
	border-radius:10px;
}
.footer a{
	color:black;
	text-decoration:none;
	font-weight:bold;
}
.footer{
	text-align:center;
	margin:20px;
}
.footer a:hover{
	text-decoration:underline;
}
.box1:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}
.box2:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}
.box1 a ,.box2 a {text-decoration:none;color:black}